name: Deploy Website

on:
  push:
    branches:
      - main  # Trigger only when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # This syncs your folder to S3 and automatically sets MIME types
      - name: Deploy to S3
        run: |
          aws s3 sync . s3://shopping-list-test-site --exclude ".git/*" --exclude ".github/*" --exclude "*.tf"