name: Deploy Website

on:
  push:
    branches:
      - main  # Trigger only when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Terraform Init & Validate
        run: |
          terraform init -backend=false
          terraform validate

      - name: HTML Lint
        run: |
          npx htmlhint "**/*.html"

     
      - name: tfsec
        uses: aquasecurity/tfsec-action@v1.0.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

    
      - name: Deploy to S3
        run: |
          aws s3 sync . s3://shopping-list-test-site --exclude ".git/*" --exclude ".github/*" --exclude "*.tf"